@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


*{
    margin: 0;
    padding: 0;
}

:root{
    --cor_1: rgb(75, 40, 119);
    --cor_2: rgb(12, 179, 40);
    --cor_3: rgb(173, 162, 188);
    --cor_preta: black;
    --cor_branca: white;

    --fonte-1: 'Montserrat', sans-serif;
    --fonte-2: 'Krona One', sans-serif;
}

body{
    /* background-image: url(Imagens/fundo.jpg) ; */
    background-image: linear-gradient(70deg, var(--cor_1), 2%,  var(--cor_preta));
    height: 100vh;
    font-family: var(--fonte-1);
   
    
}

main{
    display: flex;
    justify-content: space-between;
    
}

.conteudo{
    padding-top: 3%;
    width: 50%;
    
}

.conteudo_nome{
    color: white;
    padding: 5% 10%;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    display: inline;
    
}

.conteudo_link{
    display: inline;
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--fonte-2);
    padding-left: 5%;
    border-radius: 15px; 
    /* border: 2px solid #ADA2BC;
    margin: 2%; */
}
.conteudo_link:hover{
    box-shadow: 5px 10px 50px var(--cor_3);
}

.conteudo_titulo{
    color: var(--cor_branca);
    padding: 10% 0% 0% 15%;
    font-size: 1.8rem;
    
}

.conteudo_texto{
    color: var(--cor_branca);
    padding: 10% 0% 10% 15%;
    font-size: 1.2rem;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    padding-left: 10%;
    
}

.botao_link{
    display: flex;
    text-decoration: none;
    padding: 2%;
    align-items: center;
    font-size: 2rem;
    border: 2px solid var(--cor_branca);
    border-radius: 10px;
    gap: 20px;
    
}

.botao_link:hover{
    box-shadow: 5px 10px 50px var(--cor_3);
}

.imagens{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 40%;
    gap: 8rem;
    
}

.imagens_foto{
    border-radius: 50% 50% 50% 50%;
    /* box-shadow: 0px -30px 50px rgb(255, 255, 255); */
    margin: 10% 0% 0% 25%;
    width: 50%;
    height: 50%; 
}

.imagens_tecnologia{
    display: flex;
    justify-content: center;
    
   
}

.imagens_tecnologia_logo{
    
    
}

.destaque{
    color: var(--cor_2);
   
}



/* Page projetos */

.container{
    height: 20%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    gap: 3%;
    

}


.titulo{
    color: var(--cor_branca);
    text-align: center;
    padding-top: 5%;
}

.container_projeto{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border-radius: 10px; 
    border: 2px solid var(--cor_branca); */
    
}
.container_projeto_link{
    
   
}

.container_projeto_imagem:hover{
    width: 105%;
    box-shadow: 0px 5px 20px var(--cor_3);
}

.container_projeto_nome{
    color: var(--cor_2);
    font-size: 1.4rem;
    padding-top: 7%;
}

.container_projeto_texto{
    color: var(--cor_branca);
    text-align: center;
    padding: 2%;
    font-size: 1rem;

}

.imagens_media{
    display: none;
}


    
@media screen and (max-width: 900px){

    body{
        width: 100vw;
    }
   
    .conteudo{
        width: 90vw;
    }

    .conteudo_nome{
        padding: 5% 3%;
        font-size: 1.5rem;
    }
    
    .conteudo_link{
        font-size: 0.9rem;
        padding-left: 3%;
    
    }

    .conteudo_titulo{
        padding: 10% 0% 0% 8%;
        font-size: 1.5rem;
        
    }
    
    .conteudo_texto{
        padding: 10% 0% 10% 8%;
        font-size: 1rem;
    }

    .botao{
        flex-direction: column;
        gap: 1rem;
    }
    
    .botao_link{
        display: flex;
        text-decoration: none;
        padding: 2%;
        align-items: center;
        font-size: 1.3rem;
        border: 2px solid var(--cor_branca);
        border-radius: 10px;
        gap: 10px;
        
    }

    .imagens{
        display: none;
        
    }

    .imagens_media{
        display: flex;
        justify-content: space-around;
    }

    }






